#contact-component {
  width: 100%;
  background-color: $ayoosteoblue;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: $padding-left;
  padding-right: $padding-right;
  h2 {
    font-size: $intro-text;
    font-weight: normal;
    padding-bottom: $padding-bottom;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  h1 {
    color: rgb(255, 255, 255);
    font-size: $title;
    padding-bottom: $padding-bottom;
  }
  p {
    color: rgb(255, 255, 255);
    font-size: $text-regular;
    max-width: 500px;
    text-align: center;
    padding-bottom: $padding-bottom;
  }
  #contact-details {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}

