#follow-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 290px;
  h1 {
    // height: 80px;
    display: inline-block;
    margin: 0px;
    font-size: $title;
    margin-bottom: $padding-bottom;
  }
  #social-links {
    display: flex;
    flex-direction: row;
    padding-bottom: $padding-bottom;
    svg {
      fill: $ayoosteogreen;
      margin-left: 8px;
      margin-right: 8px;
    }
    svg:hover {
      fill: $ayoosteoblue;
    }
  }
  p {
    a {
      text-decoration: none;
      color: $ayoosteogreen;
    }
    a:hover {
      color: $ayoosteoblue;
    }
  }
}
