#home-service-list-section {
  padding-left: $padding-left;
  padding-right: $padding-right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  img {
    padding-left: $padding-left;
    padding-right: $padding-right;
  }
}

#service-list {
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
  h2 {
    color: $ayoosteogreen;
    font-size: $intro-text;
    padding-bottom: $padding-bottom;
  }
  ul {
    padding-bottom: $padding-bottom;
    li {
      color: $ayoosteogreen;
      font-size: $text-regular;
      padding-bottom: 20px;
      list-style-type: none;
      a{
        text-decoration: none;
      }
      a:hover {
        color: $ayoosteogreen;
        text-decoration: underline;
      }
    }
  }
  div:first-of-type {
    padding-bottom: $padding-bottom;
    text-align: center;
  }
}

@media (max-width: 450px) {
  #home-service-list-section {
    flex-direction: row-reverse;
  }
  #service-list {
    div:first-of-type {
      padding-bottom: $padding-bottom;
    }
  }
}
